@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    width: 100vw;
    height: 100vh;
    background-color: #282a2e;
    background-size: cover;
    background-repeat: no-repeat;
    /* font-family: 'Whitney', sans-serif; */
    font-family: 'Exo', sans-serif;
    text-rendering: optimizeLegibility;
    user-select: none;
  }
  
  ::-webkit-scrollbar{
    display: none;
  }
  
  #svgBlob{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background: transparent;
    transition: 1s;
  }
  
  .position{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .container{
    width: 784px;
    max-width: 90vw;
    padding: 32px;
    background-color: #2a2b38;
    background: #363940;
    border-radius: 6px;
    left: 0;
    top: 0;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    flex-grow: 1;
    display: grid;
    place-items: center;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  }
  
  .centering-wrapper{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
  }
  
  .section1{
    position: relative; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .primary-header{
    color: #fff;
    font-size: 24px;
    line-height: 30px; 
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .secondary-header{
    color: #a2a3a7;
    font-size: 16px;
    line-height: 20px;
  }
  
  .input-position{
    margin-top: 20px;
  }
  
  .form-group{ 
    width: 100%;
    text-align: left;
  }
  
  .input-placeholder{
    color: #919296;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    cursor: default;
  }
  
  .error-message{
    color: #ec4846;
    font-style: italic;
    text-transform: none;
    font-size: 12px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    transition: all 0.2s linear;
  }
  
  .form-style {
    position: relative;
    padding: 10px;
    height: 40px;
    width: 414px;
    max-width: 80vw;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #c4c3ca;
    background-color: #323338;
    border: 1px solid #282a2e;
    border-radius: 3px;
    outline: none;
    -webkit-transition: all 200ms linear;
    transition: border-color .2s ease-in-out;
  }
  
  .form-style:hover{
    border-color: #000;
  }
  
  .form-style:focus,
  .form-style:active {
    border-color: #7289d9;
  }
  
  .form-style:active .input-placeholder{
    color: #7289d9;
  }
  
  .btn-position{
    width: 100%;
    display: grid;
    place-items: center;
  }
  
  .btn{  
    text-decoration: none;
    border-radius: 4px;
    height: 44px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all 200ms linear;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    outline: none;
    background-color: #7289d9;
    color: white;
    cursor: pointer;
  }
  
  .btn:hover{  
    background-color: #677bc4;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  }
  
  .password-container {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    margin-top: 4px;
    width: 100%;
    height: auto;
    padding: 2px 90% 2px 0px;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
  
  .link{
    color: #7289da;;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .link:hover{
    text-decoration: underline;
  }
  
  .horizontalSeparator{
    margin: 0 2.5vw;
    border: 1px solid #363940;
  }
  
  .qr-login{
    width: 240px;
    height: 344px;
    overflow: hidden;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: baseline;
  }
  
  .qr-container{
    display: flex;
    width: 176px;
    height: 176px;
    border-radius: 2px;
    background: #fff;
    position: relative;
    margin: 30px 0px 32px 0px;
    justify-content:center;
    align-items: center;
  }
  
  .logo{
    width: 48px;
    height: 48px;
    position: absolute;
    background-blend-mode: overlay;
  }
  
  .qr-code{
    position: absolute;
  }
  
  .qr-pheader{
    font-weight: 600;
    margin-bottom: 8px;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
  }
  
  .qr-sheader{
    font-size: 16px;
    line-height: 20px;
    color: #a2a3a7;
  }
  
  @media only screen and (max-width: 768px){
    body{
      background-position: 0px 0px;
    }
    svgBlob{
      top: 50;
      left: 0;
      transform: translate(0, -50%);
    }
    .qr-login{
      display: none;
    }
    .horizontalSeparator{
      display: none;
    }
    .container{
      padding: 20px;
    }
  }
  
  @keyframes jump{
    0%{
      transform: translateY(0px);
      opacity: 1;
    }
    50%{
      transform: translateY(10px);
    }
    75%{
      opacity: 0.5;
    }
    100%{
      transform: translateY(-70px);
      opacity: 0;
    }
  }
  
  





  .context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    /* background: #4e54c8;   */
    background: #4e54c8; 
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}